<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="{% url 'service_list' %}">Services</a>
            <ul>
                {% for field in available_fields %}
                    <li><a href="{% url 'service_field' field|slugify %}">{{ field }}</a></li>
                {% empty %}
                    <li><a href="{% url 'service_list' %}">No services available yet</a></li>
                {% endfor %}
            </ul>
        </li>
        {% if user.is_authenticated %}
            {% if user.is_company %}
                <li><a href="/company/{{ user.username }}">Company Profile</a></li>
            {% elif user.is_customer %}
                <li><a href="/customer/{{ user.username }}">Customer Profile</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login_user' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>
</nav>

















