{% extends "main/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Categories</h2>
                    <div class="list-group">
                        <a href="{% url 'service_list' %}" class="list-group-item list-group-item-action {% if not category %}active{% endif %}">
                            All Services
                        </a>
                        <a href="{% url 'most_requested_services' %}" class="list-group-item list-group-item-action">
                            Most Requested Services
                        </a>
                        {% for cat in categories %}
                        <a href="{% url 'service_list' %}?category={{ cat.id }}" 
                           class="list-group-item list-group-item-action {% if category.id == cat.id %}active{% endif %}">
                            {{ cat.name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    <a href="{% url 'service-create' %}">Add Service</a>
                </button>
            </div>
        </div>
        <div class="col-md-9">
            {% block service_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %} 